/* .header{
    background-color: red;
}

.test{
background-color: magenta;
}

.h1-design{
    color: magenta;
    background-color: yellow;
    width: max-content ;
}
.head{
    font-size: 50px;
} */

/* .active{
    color: white;
    background-color:green ;
    border-radius: 5px;
    border: 1px solid yellow;
    width: max-content;
}
.inActive{
    color: white;
    background-color:red ;
    border-radius: 5px;
    border: 1px solid magenta;
    width: max-content;
} */

#products {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
   
}
.icon{
    display: flex;
    justify-content: center;
   

}
.icon i{
    font-size: 100px;
}
.container-edit{
    display: flex;
    justify-content: center;
}
button{
    margin: 0 50px;
}
.active{
    color: yellow;
}
.body-active{
    background-color: black;
}